<div class="jumbotron">
  <h1 class="display-4">WELCOME!</h1>
  <p class="lead">Bienvenue, inscrivez vous et rejoignez l'aventure !
  Créez et rejoignez des evenements !</p>
  <hr class="my-4">
  <p>Ne soyez pas retissent et lancez vous !</p>
  <% if user_signed_in? %>

   <a class="btn btn-primary btn-lg" href="<%= new_event_path %>" role="button">CREER UN EVENT !</a>

  <% else %>

  <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" role="button">S'INSCRIRE!</a>

  <% end %>
</div>

<section id="about">
  <div class="div-content">
    <div class="container">
      <div class="row">
        <div class="col-md text-center">
          <h2>Le principe</h2><br><br>
        </div>
      </div>
    </div>
      <div class="container text-center">
        <div class="row ">
          <div class="col-md-4">
            <i class="fa fa-user fa-5x"></i><br>
            <h3 class="headline">Inscrivez vous !</h3>
            <p>Créer votre profile !</p>
          </div>
          
          <div class="col-md-4">
            <i class="fa fa-search fa-5x"></i><br>
            <h3 class="headline">Recherchez !</h3>
            <p>Cherchez ou créez votre bonheure !</p>
          </div>
          
          <div class="col-md-4">
            <i class="fa fa-smile-o fa-5x"></i><br>
            <h3 class="headline">Profitez.</h3>
            <p>Sayez, vous êtes prêt à profiter !</p>
          </div>
        </div>
      </div>
    </div>
</section>
