/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body {
	background-color:#696969 !important;
	font-family: barlow,sans-serif !important;
	color: white !important;
	min-height: 100%;
    height: auto;
    position: relative;
}

h5, p {
	color: #708090 !important;
}
/* profile */
.nav, .tab-content {
	margin-left: 50px;
}


img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 12px;
}

/* footer */

.footer {
	background-color: #696969;
    height: 160px;
    width: 100%;
	padding: 50px;
	bottom: 5;
	position: absolute;
}

.form-control {
	border-radius: 50px !important;
	background-color: white !important;
	width: 300px !important;
	margin-right: auto;
	margin-left: auto;
}

form {
	background-color:#D3D3D3;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 40px;
	box-shadow: 1px 1px 12px #555;
}

.jumbotron {
	background-image: url(https://image.freepik.com/photos-gratuite/fond-couleur-holi-fond-blanc_24972-874.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    height:350px;
}

.card {
	border-radius: 50px !important;

}



